.hidden { display: none; }

/* Image Grid */
.thumbnail { width: 350px; }
.thumbnail .image-wrapper { height: 0px; padding-bottom: 100%; position: relative; width: 100%; }
.thumbnail .image-wrapper a { display: block; height: 100%; overflow: hidden; position: absolute; text-align: center; width: 100%;}
.thumbnail .image-wrapper img { position: relative; width: 100%; }
.thumbnail .image-wrapper img.portrait { height: 100%; width: auto; }

/* Image Displayer */
.picture-holder a { display: inline-block; }
.picture-holder .collapsed { } /* adjust to your desired styling */
.picture-holder .expanded { } /* adjust to your desired styling */